* {
    font-family: monospace;
    font-size: 11px;
}

window#waybar {
    background-color: rgba(40, 40, 40, 0.8);
    border-bottom: 2px solid rgba(69, 133, 136, 0.8);
    color: #ebdbb2;
}

#workspaces {
    border-bottom: 2px solid rgba(69, 133, 136, 0.8);
}
#workspaces button {
    padding: 0 5px;
    border-radius: 5px;
    background-color: rgba(66, 123, 88, 0.8);
    color: #ebdbb2;
}

#workspaces button.empty {
    background-color: rgba(40, 40, 40, 0.8);
}

#workspaces button.active {
    background-color: rgba(104, 157, 106, 0.8);
    border: 2px solid rgba(69, 133, 136, 0.8);
}

#workspaces button.urgent {
    background-color: rgba(204, 36, 29, 0.8);
}

#idle_inhibitor, #pulseaudio, #wireplumber, #custom-openvpn, #network, #cpu, #memory, #temperature, #backlight, #battery, #clock, #tray {
    padding: 0 6px;
    border: 2px solid rgba(69, 133, 136, 0.8);
    border-radius: 5px;
    background-color: rgba(66, 123, 88, 0.8);
    color: #ebdbb2;
}

@keyframes blink {
    to { background-color: rgba(66, 123, 88, 0.8); }
}

#battery.warning:not(.charging) {
    background-color: rgba(181, 118, 20, 0.8);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    background-color: rgba(175, 58, 3, 0.8);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

tooltip {
    border: 2px solid rgba(69, 133, 136, 0.8);
    border-radius: 5px;
    background-color: rgba(40, 40, 40, 0.8);
    color: #ebdbb2;
}
