* {
    font-family: monospace;
    font-size: 9pt;
}

window#waybar {
    background-color: alpha(#282828, 0.8);
    border-bottom: 2px solid alpha(#458588, 0.8);
    color: #fbf1c7;
}

#workspaces {
    border-bottom: 2px solid alpha(#458588, 0.8);
}
#workspaces button {
    padding: 0 5px;
    background-color: alpha(#1d2021, 0.8);
    border: 2px solid alpha(#458588, 0.8);
    border-radius: 5px;
    color: #fbf1c7;
}

#workspaces button.empty {
    background-color: alpha(#282828, 0.8);
}

#workspaces button.active {
    background-color: alpha(#32302f, 0.8);
    border: 2px solid alpha(#689d6a, 0.8);
    color: #8ec07c;
}

#workspaces button.urgent {
    border: 2px solid alpha(#d65d0e, 0.8);
}

#idle_inhibitor, #pulseaudio, #wireplumber, #custom-openvpn, #network, #cpu, #memory, #temperature, #backlight, #battery, #clock, #tray, #submap {
    padding: 0 5px;
    background-color: alpha(#1d2021, 0.8);
    border: 2px solid alpha(#458588, 0.8);
    border-radius: 5px;
    color: #fbf1c7;
}

@keyframes blink {
    to { background-color: alpha(#427b58, 0.8); }
}

#battery.warning:not(.charging) {
    color: #d65d0e;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    color: #cc2412;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

tooltip {
    background-color: alpha(#282828, 0.8);
    border: 2px solid alpha(#458588, 0.8);
    border-radius: 5px;
    color: #ebdbb2;
}
