[Desktop Entry]
Type=Application
GenericName=File manager
Name=lf
Comment=Launches the lf file manager
Icon=utilities-terminal
Terminal=true
Exec=lf %F
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
